body {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto;
  /* grid-template-rows: var(--navbar-height) var(--toolbar-height) minmax(0, 1fr) minmax(0, 1fr) fit-content; */
  grid-template-rows: var(--navbar-height) (--toolbar-height) minmax(0, 1fr) fit-content;
  grid-template-areas:
    "head"
    "tool"
    "main"
    "foot";
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  grid-area: head;
  z-index: 999;
  width: 100%;
  position: sticky;
  top: 0;
}

.toolbar {
  grid-area: tool;
}

main.article {
  margin: 0;
  grid-area: main;
  display: flex;
}

footer.footer {
  grid-area: foot;
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .nav-container {
    display: block;
  }

  body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: minmax(10px, 325px) minmax(10px, 4fr);
    grid-template-columns: minmax(10px, 325px) minmax(10px, 100%);
    grid-template-rows: var(--navbar-height) var(--toolbar-height) 1fr auto;
    grid-template-areas:
      "head head"
      "nav tool"
      "nav main"
      "foot foot";
    min-height: 100vh;
  }
}
